*{
    margin: 0;
    padding: 0;
}
.upperbox{
    background-color: rgb(252, 168, 182);
    text-align: center;
    height: 150px;
    color:white;
    /* justify-content: center; */
    padding-top: 80px;
}
.lowerbox{
    display: flex;
    background-color:rgb(53, 207, 207);
    color:white;
    height: 170px;
    padding: 30px 0px;
    justify-content: space-between;
}
h5{
    padding: 0px 230px;
    justify-content: center;
}
.max-width-1{
    max-width: 90vw;
    margin: auto;
    border-radius: 5px;
    margin-top: 5px;
}
.max-width-2{
    max-width: 90vw;
    margin-left: 5vw;
    border-radius: 5px;
    margin-top: 30px;
}
h4{
    padding-left: 200px;
    padding-right: 150px;
}
.nave ul li{
    list-style: none;
    padding: 0px 10px;
}
a{
    text-decoration: none;
    color: darkseagreen;   
}
.nave ul{
    display: flex;
    float: right;
}
.nave{
    justify-content: space-between;
}
.pic{
    padding-top: 40px;
}
img{
    padding: 10px;
    border-radius: 20px;
}